<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.jingdong.IJingDongAreaMapper">
    <!-- 查询京东的地址
    mapOut.put("group","province");
        mapOut.put("where",null);
        mapOut.put("name",null);
    -->
    <select id="selectAreaByName" resultType="org.trc.domain.jingDong.JingDongArea" parameterType="java.util.Map">

        SELECT * from mapping_table

        <if test="where != null and name != ''">

            WHERE ${where} =#{name}

        </if>

        <if test="group != null and name != ''">

            GROUP BY ${group}

        </if>

    </select>

    <!--根据省的名字查询 省的jd编码-->
    <select id="selectProvinceByName" resultType="org.trc.domain.jingDong.JingDongArea">
        SELECT jd_code AS jdCode , province FROM mapping_table WHERE province =#{name}  GROUP BY province
    </select>

    <!--根据市的名字查询 市的jd编码-->
    <select id="selectCityByName" resultType="org.trc.domain.jingDong.JingDongArea">
        SELECT jd_code AS jdCode , city FROM mapping_table WHERE city = #{name}  GROUP BY city
    </select>

</mapper>