<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mapper.AllocateOutOrderMapper" >
  <resultMap id="BaseResultMap" type="tk.model.AllocateOutOrder" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="allocate_out_order_code" property="allocateOutOrderCode" jdbcType="VARCHAR" />
    <result column="allocate_order_code" property="allocateOrderCode" jdbcType="VARCHAR" />
    <result column="in_warehouse_code" property="inWarehouseCode" jdbcType="VARCHAR" />
    <result column="in_warehouse_name" property="inWarehouseName" jdbcType="VARCHAR" />
    <result column="out_warehouse_code" property="outWarehouseCode" jdbcType="VARCHAR" />
    <result column="out_warehouse_name" property="outWarehouseName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="receiver" property="receiver" jdbcType="VARCHAR" />
    <result column="receiver_phone" property="receiverPhone" jdbcType="VARCHAR" />
    <result column="reciver_province" property="reciverProvince" jdbcType="VARCHAR" />
    <result column="reciver_city" property="reciverCity" jdbcType="VARCHAR" />
    <result column="receive_address" property="receiveAddress" jdbcType="VARCHAR" />
    <result column="sender" property="sender" jdbcType="VARCHAR" />
    <result column="sender_province" property="senderProvince" jdbcType="VARCHAR" />
    <result column="sender_city" property="senderCity" jdbcType="VARCHAR" />
    <result column="sender_phone" property="senderPhone" jdbcType="VARCHAR" />
    <result column="sender_address" property="senderAddress" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
    <result column="create_operator_name" property="createOperatorName" jdbcType="VARCHAR" />
    <result column="create_operator" property="createOperator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="isValid" jdbcType="VARCHAR" />
  </resultMap>
</mapper>