<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.supplier.ISupplierCategoryMapper">
    <resultMap id="supplierCategoryMap" type="org.trc.domain.supplier.SupplierCategory">
        <result property="id" column="id"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="supplierCode" column="supplier_code"/>
        <result property="brandId" column="brand_id"/>
        <result property="brandCode" column="brand_code"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryCode" column="category_code"/>
        <result property="proxyAptitudeId" column="proxy_aptitude_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="brandName" column="brandName"/>
        <result property="idValid" column="is_valid"/>
    </resultMap>

    <select id="selectListBySupplierIds" resultMap="supplierCategoryMap">
        SELECT a.id,a.supplier_id,b.name AS 'brandName',a.create_time,a.update_time
        FROM supplier_brand a
        LEFT JOIN brand b on a.brand_id =b.id
        <where>
            a.supplier_id IN
            <foreach collection="supplierIds" index="index" item="item" close=")" open="(" separator=",">
                #{item}
            </foreach>
        </where>
    </select>


    <resultMap id="supplierCategoryExtMap" type="org.trc.domain.supplier.SupplierCategoryExt">
        <result property="id" column="id"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="supplierCode" column="supplier_code"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryCode" column="category_code"/>
        <result property="categoryName" column="category_name"/>
        <result property="proxyAptitudeId" column="proxy_aptitude_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectSupplierCategorys" resultMap="supplierCategoryExtMap">
        SELECT
        sb.id, sb.supplier_id, sb.supplier_code, sb.category_id, c.category_code, c.full_path_id as category_name
        FROM
        supplier_category sb
        LEFT JOIN
        category c ON sb.category_id = c.id
        WHERE
        sb.supplier_code = #{supplierCode} and sb.is_deleted = '0'
    </select>

    <update id="updateSupplerCategory" parameterType="java.util.List">
        <foreach collection="list" item="supplerCategory" index="index" open="" close=";" separator=";">
            update supplier_category
            <set>
                is_deleted = #{supplerCategory.isDeleted},
                update_time = #{supplerCategory.updateTime}
            </set>
            where
            supplier_id = #{supplerCategory.supplierId} AND category_id = #{supplerCategory.categoryId}
        </foreach>
    </update>

    <update id="updateSupplierCategoryIsValid">
        UPDATE supplier_category
        SET is_valid = #{isValid}
        WHERE category_id = #{categoryId}
    </update>


</mapper>