<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.supplier.ISupplierMapper">

    <sql id="supplierColumn">
        id, supplier_code as supplierCode, supplier_name as supplierName, contact, phone, mobile, country, province, city, area, address
    </sql>

    <!--根据供应商的编码查询供应商-->
    <select id="selectSupplierNames" resultType="org.trc.domain.supplier.Supplier">
        SELECT supplier_code AS supplierCode,supplier_name AS supplierName from supplier WHERE supplier_code IN
        <foreach collection="array" index="index" item="item" close=")" open="(" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="selectSupplierListByApply" resultType="org.trc.domain.supplier.Supplier" parameterType="java.util.Map">
          SELECT a.id AS id,a.supplier_code AS supplierCode,a.supplier_name AS supplierName,
          a.supplier_kind_code AS supplierKindCode,a.supplier_type_code AS supplierTypeCode
          FROM  supplier a
          <where>
              a.id NOT IN(select DISTINCT(b.supplier_id ) FROM apply_for_supplier b
              WHERE b.`status` IN (0,1,2,3) AND b.is_deleted=0 AND b.channel_id=#{channelId})
              AND a.id IN (SELECT supplier_id FROM supplier_channel_relation WHERE channel_id=#{channelId})
              <if test="supplierName != null and supplierName != ''">
                  AND a.supplier_name  <![CDATA[LIKE '%${supplierName}%']]>
              </if>
              <if test="supplierCode != null and supplierCode != ''">
                  AND a.supplier_code  <![CDATA[LIKE '%${supplierCode}%']]>
              </if>
              <if test="supplierKindCode != null and supplierKindCode != ''">
                  AND a.supplier_kind_code = #{supplierKindCode}
              </if>
              AND a.is_valid=1
          </where>
    </select>

    <select id="selectSupplierListCount" resultType="java.lang.Integer" parameterType="java.util.Map">
           SELECT COUNT(0)
           FROM supplier a
            <where>
                a.id NOT IN(select DISTINCT(b.supplier_id ) FROM apply_for_supplier b
                WHERE b.`status` IN (0,1,2,3) AND b.is_deleted=0 AND b.channel_id=#{channelId})
                AND a.id IN (SELECT supplier_id FROM supplier_channel_relation WHERE channel_id=#{channelId})
                <if test="supplierName != null and supplierName != ''">
                    AND a.supplier_name  <![CDATA[LIKE '%${supplierName}%']]>
                </if>
                <if test="supplierCode != null and supplierCode != ''">
                    AND a.supplier_code  <![CDATA[LIKE '%${supplierCode}%']]>
                </if>
                <if test="supplierKindCode != null and supplierKindCode != ''">
                    AND a.supplier_kind_code = #{supplierKindCode}
                </if>
                AND a.is_valid=1
            </where>
    </select>
    <select id="selectSupplierByName" resultType="org.trc.domain.supplier.Supplier">
         SELECT
            supplier_code AS supplierCode,
            supplier_name AS supplierName
         FROM
            supplier
         WHERE
            supplier_name LIKE  CONCAT(CONCAT('%', #{name}), '%')
    </select>


    <!-- 查询所有供应商，包含已停用 -->
    <select id="selectAllSuppliers" resultType="org.trc.domain.supplier.Supplier">
        SELECT
        <include refid="supplierColumn"></include>
        FROM
        supplier
        WHERE
        supplier_kind_code = 'purchase'
        AND supplier_code IN (
        SELECT
        supplier_code
        FROM
        apply_for_supplier
        WHERE
        STATUS = '2'
        AND channel_code =  #{channelCode}
        )

    </select>
</mapper>