<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.supplier.ISupplierApplyMapper">
    <resultMap id="supplierApplyMap" type="org.trc.domain.supplier.SupplierApply">
        <result property="id" column="id"/>
        <result property="applyCode" column="apply_code"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="supplierCode" column="supplier_code"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="phone" column="phone"/>
        <result property="contact" column="contact"/>
        <result property="supplierName" column="supplier_name"/>
        <result property="supplierKindCode" column="supplier_kind_code"/>
        <result property="supplierStatus" column="is_valid"/>
    </resultMap>

    <sql id="supplierApplyColumns">
          a.id,a.apply_code,a.supplier_id,a.supplier_code,a.status,a.create_time,a.update_time,b.phone,b.contact,b.supplier_name,b.supplier_kind_code,b.is_valid
    </sql>

    <sql id="supplierApplyJoins">
        LEFT JOIN supplier b ON a.supplier_id=b.id
    </sql>

    <select id="selectList" resultMap="supplierApplyMap" parameterType="java.util.Map">
        SELECT
        <include refid="supplierApplyColumns"/>
        FROM apply_for_supplier a
        <include refid="supplierApplyJoins"/>
        <where>
            AND a.is_deleted=0
            <if test="supplierName != null and supplierName != ''">
                AND b.supplier_name  <![CDATA[LIKE '%${supplierName}%']]>
            </if>
            <if test="supplierCode != null and supplierCode != ''">
                AND a.supplier_code  <![CDATA[LIKE '%${supplierCode}%']]>
            </if>
            <if test="contact != null and contact != ''">
                AND b.contact  <![CDATA[LIKE '%${contact}%']]>
            </if>
            <if test="supplierKindCode != null and supplierKindCode != ''">
                AND b.supplier_kind_code = #{supplierKindCode}
            </if>
            <choose>
                <when test="status != null and status != ''">
                    AND a.status = #{status}
                </when>
            </choose>
            <if test="startTime != null and startTime != ''">
                AND a.update_time > #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.update_time &lt; #{endTime}
            </if>
            <if test="channelId != null and channelId != ''">
                AND a.channel_id  =#{channelId}
            </if>
        </where>
        ORDER BY instr('0,3,1,2',`status`),a.update_time DESC
    </select>

    <select id="selectSupplierApplyCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT COUNT(0)
        FROM apply_for_supplier a
        <include refid="supplierApplyJoins"/>
        <where>
            AND a.is_deleted=0
            <if test="supplierName != null and supplierName != ''">
                AND b.supplier_name  <![CDATA[LIKE '%${supplierName}%']]>
            </if>
            <if test="supplierCode != null and supplierCode != ''">
                AND a.supplier_code  <![CDATA[LIKE '%${supplierCode}%']]>
            </if>
            <if test="contact != null and contact != ''">
                AND b.contact  <![CDATA[LIKE '%${contact}%']]>
            </if>
            <if test="supplierKindCode != null and supplierKindCode != ''">
                AND b.supplier_kind_code = #{supplierKindCode}
            </if>
            <choose>
                <when test="status != null and status != ''">
                    AND a.status = #{status}
                </when>
            </choose>
            <if test="startTime != null and startTime != ''">
                AND a.update_time > #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.update_time&lt; #{endTime}
            </if>
            <if test="channelId != null and channelId != ''">
                AND a.channel_id  =#{channelId}
            </if>
        </where>
    </select>

    <select id="selectOneById" resultMap="supplierApplyMap" parameterType="java.lang.Long">
        SELECT
        <include refid="supplierApplyColumns"/>
        FROM apply_for_supplier a
        <include refid="supplierApplyJoins"/>
        <where>
            AND a.id=#{id}
        </where>
    </select>
</mapper>