<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.supplier.ISupplierBrandMapper">
    <resultMap id="supplierBrandMap" type="org.trc.domain.supplier.SupplierBrand">
        <result property="id" column="id"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="supplierCode" column="supplier_code"/>
        <result property="brandId" column="brand_id"/>
        <result property="brandCode" column="brand_code"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryCode" column="category_code"/>
        <result property="proxyAptitudeId" column="proxy_aptitude_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="brandName" column="brandName"/>
    </resultMap>

    <select id="selectListBySupplierIds" resultMap="supplierBrandMap">
        SELECT  a.id,a.supplier_id,b.name AS 'brandName',a.create_time,a.update_time
        FROM supplier_brand a
        LEFT JOIN  brand b on a.brand_id =b.id
        <where>
            a.supplier_id IN
            <foreach collection="supplierIds" index="index" item="item" close=")" open="(" separator=",">
                  #{item}
            </foreach>
        </where>
    </select>


    <resultMap id="supplierBrandExtMap" type="org.trc.domain.supplier.SupplierBrandExt">
        <result property="id" column="id"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="supplierCode" column="supplier_code"/>
        <result property="brandId" column="brand_id"/>
        <result property="brandCode" column="brand_code"/>
        <result property="brandName" column="brand_name"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryCode" column="category_code"/>
        <result property="categoryName" column="category_name"/>
        <result property="proxyAptitudeId" column="proxy_aptitude_id"/>
        <result property="proxyAptitudeStartDate" column="proxy_aptitude_start_date"/>
        <result property="proxyAptitudeEndDate" column="proxy_aptitude_end_date"/>
        <result property="aptitudePic" column="aptitude_pic"/>
        <result property="isValid" column="is_valid"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectSupplierBrands" resultMap="supplierBrandExtMap">
        SELECT
        sb.id, sb.supplier_id, sb.supplier_code, sb.category_id, sb.category_code, sb.proxy_aptitude_id, sb.proxy_aptitude_start_date, sb.proxy_aptitude_end_date, sb.aptitude_pic, sb.is_valid, c.full_path_id as category_name, sb.brand_id, sb.brand_code, b.name as brand_name
        FROM
        supplier_brand sb
        LEFT JOIN
        category c ON sb.category_id = c.id
        LEFT JOIN
        brand b ON sb.brand_id = b.id
        WHERE
        sb.supplier_code = #{supplierCode} and sb.is_deleted = '0'
    </select>

    <select id="selectSupplierBrandNames" resultMap="supplierBrandExtMap">
        SELECT
        distinct(b. NAME) AS brand_name,
        b.id as brand_id
        FROM
        supplier_brand sb
        LEFT JOIN
        category c ON sb.category_id = c.id
        LEFT JOIN
        brand b ON sb.brand_id = b.id
        WHERE
        sb.supplier_code = #{supplierCode} and sb.is_deleted = '0'
    </select>

    <update id="updateSupplerBrand"  parameterType="java.util.List" >
        <foreach collection="list" item="supplerBrand" index="index" open="" close=";" separator=";">
            update supplier_brand
            <set>
                proxy_aptitude_id = #{supplerBrand.proxyAptitudeId},
                proxy_aptitude_start_date = #{supplerBrand.proxyAptitudeStartDate},
                proxy_aptitude_end_date = #{supplerBrand.proxyAptitudeEndDate},
                aptitude_pic = #{supplerBrand.aptitudePic},
                update_time = #{supplerBrand.updateTime},
                is_deleted = #{supplerBrand.isDeleted}
            </set>
            where
            supplier_id = #{supplerBrand.supplierId} AND brand_id = #{supplerBrand.brandId}
        </foreach>
    </update>

    <update id="updateSupplerBrandIsValid" >
        UPDATE supplier_brand
        SET is_valid=#{isValid}
        WHERE brand_id=#{brandId}
    </update>
</mapper>