<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.supplier.ISupplierChannelRelationMapper">
    <resultMap id="supplierChannelMap" type="org.trc.domain.supplier.SupplierChannelRelationExt">
        <result property="id" column="id"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="supplierCode" column="supplier_code"/>
        <result property="channelId" column="channel_id"/>
        <result property="channelCode" column="channel_code"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="channelName" column="channelName"/>
    </resultMap>


    <select id="selectSupplierChannels" resultMap="supplierChannelMap">
        SELECT
        scr.id, scr.supplier_id, scr.supplier_code, scr.channel_id, scr.channel_code, c.name as channelName, scr.is_deleted
        FROM
        supplier_channel_relation scr
        LEFT JOIN
        channel c ON scr.channel_id = c.id
        WHERE
        1 = 1
        <if test="supplierId != null and supplierId != ''">
            AND scr.supplier_id = #{supplierId}
        </if>
        <if test="supplierCode != null and supplierCode != ''">
            AND scr.supplier_code = #{supplierCode}
        </if>
        <if test="channel_id != null and channel_id != ''">
            AND scr.channel_id = #{channelId}
        </if>
        <if test="channelCode != null and channelCode != ''">
            AND scr.channel_code = #{channelCode}
        </if>
        <if test="isDeleted != null and isDeleted != ''">
            AND scr.is_deleted = #{isDeleted}
        </if>
    </select>





</mapper>