<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.config.IRequestFlowMapper">
    <update id="changeState" parameterType="java.lang.String">
      UPDATE request_flow
      SET status = 'SEND_SUCCESS'
      WHERE
      request_num = #{requestNum}
    </update>

    <update id="updateRequestFlowByRequestNum" parameterType="org.trc.domain.config.RequestFlow">
        UPDATE request_flow
        SET status = #{status},
        response_param = #{responseParam}
        WHERE
        request_num = #{requestNum}
    </update>
</mapper>