<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.config.IRequestFlowMapper">
    <update id="changeState" parameterType="java.lang.String">
      UPDATE request_flow
      SET status = 'SEND_SUCCESS'
      WHERE
      request_num = #{requestNum}
    </update>

    <update id="updateRequestFlowByRequestNum" parameterType="org.trc.domain.config.RequestFlow">
        UPDATE request_flow
        SET
        request_num = #{requestNum,jdbcType=VARCHAR},
        <if test="status != null and status !=''">
            status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="responseParam != null and responseParam !=''">
            response_param = #{responseParam,jdbcType=TEXT}
        </if>
        <if test="count != null">
            count = #{count,jdbcType=BIGINT}
        </if>
        <if test="endTime != null">
            end_time = #{endTime,jdbcType=TIMESTAMP}
        </if>
        WHERE
        request_num = #{requestNum,jdbcType=VARCHAR}
    </update>

    <select id="queryBatch" parameterType="org.trc.domain.config.QureyCondition" resultType="org.trc.domain.config.RequestFlow">
        SELECT id AS id,requester AS requester,responder AS responder, type as type , request_num AS requestNum, status AS status,request_param AS requestParam,response_param AS responseParam,count AS count,request_time AS requestTime, end_time AS endTime
        FROM request_flow
        WHERE
        type = #{type,jdbcType=VARCHAR} AND
        status IN
        <foreach collection="list" index="index" item="item" close=")" open="(" separator=",">
              #{item}
        </foreach>
        <if test="id != null">
            id > #{id,jdbcType=LONG}
        </if>
        ORDER BY id ASC LIMIT 1000;
    </select>
</mapper>