<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.config.IRequestFlowMapper">

    <resultMap id="requestFlow" type="org.trc.domain.config.RequestFlow">
        <result property="id" column="id"/>
        <result property="requester" column="requester"/>
        <result property="responder" column="responder"/>
        <result property="type" column="type"/>
        <result property="requestNum" column="request_num"/>
        <result property="status" column="status"/>
        <result property="requestParam" column="request_param"/>
        <result property="responseParam" column="response_param"/>
        <result property="count" column="count"/>
        <result property="requestTime" column="request_time"/>
        <result property="endTime" column="end_time"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <update id="changeState" parameterType="java.lang.String">
      UPDATE request_flow
      SET status = #{status}
      WHERE
      request_num = #{requestNum}
    </update>

    <update id="updateRequestFlowByRequestNum" parameterType="org.trc.domain.config.RequestFlow">
        UPDATE request_flow
        SET
        <if test="status != null and status !=''">
            status = #{status},
        </if>
        <if test="responseParam != null and responseParam !=''">
            response_param = #{responseParam},
        </if>
        <if test="endTime != null">
            end_time = #{endTime},
        </if>
        count = #{count}
        WHERE
        request_num = #{requestNum}
    </update>

    <select id="queryBatch" parameterType="org.trc.domain.config.QureyCondition" resultMap="requestFlow">
        SELECT id,requester,responder,type,request_num,status,request_param,response_param,count,request_time,end_time
        FROM request_flow
        WHERE
        type = #{type} AND
        status IN
        <foreach collection="list" index="index" item="item" close=")" open="(" separator=",">
              #{item}
        </foreach>
        <if test="id != null">
          AND  id > #{id}
        </if>
        ORDER BY id ASC LIMIT 1000;
    </select>
</mapper>