<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.config.ITimeRecordMapper">
    <select id="getLatestRecord"  resultType = "org.trc.domain.config.TimeRecord" >
      SELECT
          cc.id AS id, cc.method AS method, cc.use_time AS useTime, cc.start_time AS startTime, cc.end_time AS endTime
        FROM
          time_record cc
        ORDER BY
        end_time DESC LIMIT 1
    </select>
</mapper>