<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.warehouseNotice.IWarehouseNoticeMapper">

    <!--根据查询条件拼接 审核列表页面-->
    <select id="selectWarehouseNoticeList" parameterType="java.util.Map" resultType="org.trc.domain.warehouseNotice.WarehouseNotice">
      SELECT
        s.supplier_name AS supplierName,
        pao.purchase_order_code AS purchaseOrderCode,
        pao.STATUS,
        pao.create_time AS createTime,
        pao.create_operator AS createOperator,
        pao.purchase_type AS purchaseType,
        pao.contract_code AS contractCode,
        pao.warehouse_code AS warehouseCode,
        pao.requried_receive_date AS requriedReceiveDate,
        pao.end_receive_date AS endReceiveDate,
        pao.warehouse_notice_code AS warehouseNoticeCode,
        pao.id
    FROM
        supplier s
    RIGHT JOIN (
        SELECT
            ao.purchase_order_code,
            ao.warehouse_notice_code,
            ao.STATUS,
            ao.create_time,
            ao.create_operator,
            ao.purchase_type,
            ao.supplier_code,
            ao.contract_code,
            ao.warehouse_code,
            ao.requried_receive_date,
            ao.end_receive_date,
            ao.id
        FROM
            warehouse_notice ao
        LEFT JOIN purchase_order po ON ao.purchase_order_code = po.purchase_order_code
        WHERE
        ao.id != ''
        <if test="warehouseNoticeCode != null and warehouseNoticeCode != ''">
            AND ao.warehouse_notice_code LIKE CONCAT('%', #{warehouseNoticeCode},'%')
        </if>
        <if test="purchaseOrderCode != null and purchaseOrderCode != ''">
            AND ao.purchase_order_code LIKE CONCAT('%', #{purchaseOrderCode},'%')
        </if>
        <if test="status != null and status != ''">
            AND ao.STATUS = #{status}
        </if>
        <if test="startDate != null and startDate != ''">
            AND ao.create_time &gt; #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            AND ao.create_time &lt; #{endDate}
        </if>
        <if test="purchaseType != null and purchaseType != ''">
            AND ao.purchase_type = #{purchaseType}
        </if>
        <if test="channelCode != null and channelCode != ''">
            AND po.channel_code = #{channelCode}
        </if>
    ) pao
    ON s.supplier_code = pao.supplier_code
    <if test="supplierName != null and supplierName != ''">
        WHERE s.supplier_name LIKE CONCAT('%', #{supplierName},'%')
    </if>
        order BY status ASC
    </select>

    <select id="selectCountWarehouseNotice" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
          COUNT(*)
        FROM
        supplier s
        RIGHT JOIN (
        SELECT
        ao.purchase_order_code,
        ao. STATUS,
        ao.create_time,
        ao.create_operator,
        ao.purchase_type,
        ao.supplier_code,
        ao.contract_code,
        ao.warehouse_code,
        ao.requried_receive_date,
        ao.end_receive_date,
        ao.id
        FROM
        warehouse_notice ao
        LEFT JOIN purchase_order po ON ao.purchase_order_code = po.purchase_order_code
        WHERE
        ao.id != ''
        <if test="warehouseNoticeCode != null and warehouseNoticeCode != ''">
            AND ao.warehouse_notice_code LIKE CONCAT('%', #{warehouseNoticeCode},'%')
        </if>
        <if test="purchaseOrderCode != null and purchaseOrderCode != ''">
            AND ao.purchase_order_code LIKE CONCAT('%', #{purchaseOrderCode},'%')
        </if>
        <if test="status != null and status != ''">
            AND ao.STATUS = #{status}
        </if>
        <if test="startDate != null and startDate != ''">
            AND ao.create_time &gt; #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            AND ao.create_time &lt; #{endDate}
        </if>
        <if test="purchaseType != null and purchaseType != ''">
            AND ao.purchase_type = #{purchaseType}
        </if>
        <if test="channelCode != null and channelCode != ''">
            AND po.channel_code = #{channelCode}
        </if>
        ) pao
        ON s.supplier_code = pao.supplier_code
        <if test="supplierName != null and supplierName != ''">
            WHERE s.supplier_name LIKE CONCAT('%', #{supplierName},'%')
        </if>
    </select>
    <!--审核采购单，更改审核单的状态-->
    <!--<update id="updatePurchaseOrderByPurchase" parameterType="java.util.Map">
        UPDATE  apply_for_purchase_order  SET  `status` =#{status} ,audit_opinion = #{auditOpinion} WHERE purchase_order_code =#{purchaseOrderCode};
    </update>-->
</mapper>