<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.goods.IItemSalesProperyMapper">
    <update id="updateItemSalesPropery"  parameterType="java.util.List" >
        <foreach collection="list" item="itemSalesPropery" index="index" open="" close=";" separator=";">
            update item_sales_propery
            <set>
                property_actual_value = #{itemSalesPropery.propertyActualValue},
                picture = #{itemSalesPropery.picture},
                update_time = #{itemSalesPropery.updateTime},
                is_deleted = #{itemSalesPropery.isDeleted}
            </set>
            where
              spu_code = #{itemSalesPropery.spuCode} AND
              sku_code = #{itemSalesPropery.skuCode} AND
              property_id = #{itemSalesPropery.propertyId} AND
              property_value_id = #{itemSalesPropery.propertyValueId}
        </foreach>
    </update>

    <update id="updateIsValidByPropertyValueId">
         UPDATE  item_sales_propery
         SET is_valid=#{isValid}
         WHERE property_value_id=#{propertyValueId}
    </update>

    <update id="updateIsValidByPropertyId">
        UPDATE  item_sales_propery
        SET is_valid=#{isValid}
        WHERE property_id=#{propertyId}
    </update>
</mapper>