<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.goods.ISkuStockMapper">
   
    <update id="batchUpdateStockAirInventory"  parameterType="Object" >
        <foreach collection="detailList" item="sku" index="index" open="" close=";" separator=";">
            update sku_stock
            <set>
                air_inventory = air_inventory + #{sku.purchasingQuantity}
            </set>
            where
              channel_code = #{channelCode} AND warehouse_code = #{warehouseCode} AND sku_code = #{sku.skuCode}
              AND is_deleted = '0' AND is_valid = '1'
        </foreach>
    </update>    
    
    <update id="batchUpdateStock"  parameterType="Object" >
        <foreach collection="list" item="stock" index="index" open="" close=";" separator=";">
            update sku_stock
            set
            <foreach item="value" index="key" collection="stock.stockType" open="" separator="," close="">  
       			${key} =  ${key} + #{value} 
       			
   			</foreach> 
            where
              channel_code = #{stock.channelCode} AND warehouse_code = #{stock.warehouseCode} AND sku_code = #{stock.skuCode}
              AND is_deleted = '0' AND is_valid = '1'
        </foreach>
    </update>    


</mapper>