<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.goods.ISkusMapper">


    <select id="selectSupplierCodeList" resultType="java.lang.String">
        select distinct(supplier_code) from sku_relation a where a.sku_code in
        <foreach collection="list" item="orderItems" index="index" open="" close=";" separator=";">
            #{orderItems.skuCode}
        </foreach>
    </select>

    <select id="selectSkuCodeList" resultType="java.lang.String">
        select sku_code from sku_relation a where a.sku_code in
        <foreach collection="list" item="externalItemSkus" index="index" open="" close=";" separator=";">
            #{externalItemSkus.skuCode}
        </foreach>
    </select>

</mapper>