<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.impower.AclUserAccreditInfoMapper">
    <!--查询具有采购角色的用户并且是有效的-->
    <select id="findPurchase" resultType="org.trc.domain.impower.AclUserAccreditInfo">
        SELECT id , user_id userId,phone,name,user_type userType FROM acl_user_accredit_info u where user_id IN(
            SELECT ar.user_id FROM acl_user_accredit_role_relation ar WHERE role_id=(
                SELECT id as role_id FROM acl_role r WHERE name='采购组员'
                ) AND is_deleted = '0'
        ) AND is_valid='1'
    </select>

    <!-- 根据用户的查询的条件，查询授权信息与角色名称列表.并且是有效的角色名称.isValid='1'.-->
    <select id="selectAccreditInfoList" resultType="org.trc.domain.impower.AclUserAccreditInfo">
        SELECT id,user_id userId,phone,name,user_type userType,channel_code channelCode,remark,is_valid isValid,create_operator createOperator,update_time updateTime  from acl_user_accredit_info
        <where>
            <if test="phone != null and phone != ''">
                AND phone  LIKE CONCAT(CONCAT('%', #{phone}), '%')
            </if>
            <if test="isValid != null and isValid != ''">
                AND is_valid = #{isValid}
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT(CONCAT('%', #{name}), '%')
            </if>
        </where>
        ORDER BY update_time DESC
    </select>

    <select id="selectCountUser"  resultType="java.lang.Integer">
        SELECT COUNT(0) from acl_user_accredit_info
        <where>
            <if test="phone != null and phone != ''">
                AND phone = #{phone}
            </if>
            <if test="isValid != null and isValid != ''">
                AND is_valid = #{isValid}
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT(CONCAT('%', #{name}), '%')
            </if>
        </where>
    </select>


    <select id="selectUserAddPageList" resultType="org.trc.domain.impower.AclUserAddPageDate">
        SELECT acl_role.name roleNames,ur.user_accredit_id id FROM  acl_user_accredit_role_relation ur
        LEFT JOIN
        acl_role ON acl_role.id=ur.role_id
        WHERE
        acl_role.is_valid='1'
        AND
        ur.user_accredit_id IN
        <foreach collection="userIds" index="index" item="item" close=")" open="(" separator=",">
            #{item}
        </foreach>
    </select>
    <delete id="deleteByUserAccreditId">
        DELETE FROM acl_user_accredit_role_relation WHERE user_accredit_id=#{userAccreditId}
    </delete>


    <select id="selectOneById" resultType="org.trc.domain.impower.AclUserAccreditInfo">
            SELECT a.id,a.user_id AS 'userId',a.phone,a.`name`,a.user_type AS 'userType',
            a.channel_code AS 'channelCode',b.id As 'channelId',b.name AS 'channelName'
            FROM acl_user_accredit_info a
            LEFT JOIN channel b on a.channel_code =b.code
            <where>
                 AND  a.user_id=#{userId}
                 AND  a.is_valid=1
                 AND  a.is_deleted=0
            </where>
    </select>
    <!--查询分页对应的用户信息-->
    <select id="selectUserNames" resultType="org.trc.domain.impower.AclUserAccreditInfo">
        SELECT user_id AS userId,`name` from acl_user_accredit_info WHERE user_id IN
        <foreach collection="array" index="index" item="item" close=")" open="(" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="selectByUserIds" resultType="org.trc.domain.impower.AclUserAccreditInfo">
        SELECT a.id,a.user_id AS 'userId',a.phone,a.`name`,a.user_type AS 'userType',
        a.channel_code AS 'channelCode',b.id As 'channelId',b.name AS 'channelName'
        FROM acl_user_accredit_info a
        LEFT JOIN channel b on a.channel_code =b.code
        <where>
            AND a.user_id IN
            <foreach collection="userIds" index="index" item="item" close=")" open="(" separator=",">
                #{item}
            </foreach>
            AND  a.is_valid=1
            AND  a.is_deleted=0
        </where>

    </select>

    <select id="selectUserByName" resultType="org.trc.domain.impower.AclUserAccreditInfo">
        SELECT
            name,
        user_id AS userId
        FROM
            acl_user_accredit_info
        WHERE
            name LIKE CONCAT(CONCAT('%', #{name}), '%')
    </select>
</mapper>