<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.impower.AclResourceMapper">

    <!--AND is_valid=1-->
    <select id="selectJurisdictionListByCodes" resultType="org.trc.domain.impower.AclResource">
          SELECT  id,code,`name`,url,method FROM acl_resource
          <where>
              code IN
              <foreach collection="codes" index="index" item="item" close=")" open="(" separator=",">
                  #{item}
              </foreach>
              AND is_deleted=0
          </where>
    </select>
    <insert id="insertOne" parameterType="org.trc.domain.impower.AclResource" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO acl_resource (
            code,name,url,method,parent_id,create_operator,is_deleted,create_time,update_time,belong
        )
        VALUES
            (
                #{code,jdbcType=BIGINT},
                #{name,jdbcType=VARCHAR},
                #{url,jdbcType=VARCHAR},
                #{method,jdbcType=VARCHAR},
                #{parentId,jdbcType=BIGINT},
                #{createOperator,jdbcType=BIGINT},
                #{isDeleted,jdbcType=BIGINT},
                #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP},
                #{belong,jdbcType=TINYINT}
            )
    </insert>
</mapper>