<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.impower.RoleMapper">
    <!-- 查询某角色被授权使用或者停用的数量 -->
    <select id="findNumFromRoleAndAccreditInfoByRoleId" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM user_accredit_role_relation
        <where>
            role_id=#{roleId}
        </where>
    </select>

</mapper>