<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.impower.RoleJurisdictionRelationMapper">
    <!-- 查询某角色对应的权限id集合 -->
    <select id="selectJurisdictionIdList" resultType="java.lang.Long">
        SELECT jurisdiction_id from role_jurisdiction_relation j WHERE role_id=#{roleId}
    </select>

</mapper>