<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.category.ICategoryMapper">
    <update id="updateSort"  parameterType="java.util.List" >
        <foreach collection="list" item="category" index="index" open="" close=";" separator=";">
            update category
            <set>
                sort = #{category.sort}
            </set>
            where id = #{category.id}
        </foreach>
    </update>

    <select id="selectAllCategoryName" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT
        concat(C. name,'/ ',B. name,'/ ',A. name) AS allCategoryName
        FROM
        category A
        LEFT JOIN category B ON A.parent_id = B.id
        LEFT JOIN category C ON B.parent_id = C.id
        WHERE A.id =#{categoryId}
    </select>
</mapper>