<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.category.ICategoryPropertyMapper">
    <update id="updateCategoryPropertySort" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close=";" separator=";">
            update category_property
            <set>
                property_sort = #{item.propertySort}
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <delete id="deleteCategoryPropertyList" parameterType="java.util.List">
        DELETE FROM category_property where property_id IN
        <foreach collection="list" index="index" item="item" close=")" open="(" separator=",">
        #{item.propertyId}
        </foreach>
    </delete>

    <update id="updateCategoryPropertyIsValid">
        UPDATE category_propery
        SET   is_valid=#{isValid}
        WHERE property_id=#{propertyId}
    </update>
</mapper>