<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.category.IPropertyMapper">
    <select id="queryPropertyList" resultType="org.trc.domain.category.Property">
        SELECT b.id,b.name,b.type_code AS  typeCode,b.value_type AS valueType FROM  property b WHERE b.id  IN
        <foreach collection="list" index="index" item="item" close=")" open="(" separator=",">

            #{item}
        </foreach>
    </select>

    <select id="selectOneById" resultType="org.trc.domain.category.Property">
        SELECT b.id,b.name,b.type_code AS  typeCode,b.value_type AS valueType,b.is_valid AS isValid FROM  property b
        WHERE  b.id=#{id}
    </select>
</mapper>