<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.purchase.IPurchaseGroupMapper">
    <!-- 查询某采购组下的无效状态的用户，用户采购组编辑页面的提示信息 -->
    <select id="findPurchaseGroupMemberStateById" resultType="org.trc.domain.impower.AclUserAccreditInfo">
        SELECT user_id AS userId,phone,`name` from user_accredit_info WHERE user_id IN(
        SELECT pgr.user_id from purchase_group_user_relation pgr WHERE purchase_group_code=
        (SELECT pg.`code` from purchase_group pg WHERE id=#{id})
        ) AND is_valid='0'
    </select>
    <!--查询用户信息-->
    <select id="selectPurchaseGroupPersons" resultType="org.trc.domain.impower.AclUserAccreditInfo">
        SELECT user_id as userId , `name` from user_accredit_info WHERE user_id in
        (
        SELECT user_id FROM purchase_group_user_relation WHERE purchase_group_code=#{purchaseGroupCode}
        )
    </select>
    <!--查询分页对应的采购组信息-->
    <select id="selectPurchaseGroupNames" resultType="org.trc.domain.purchase.PurchaseGroup">
        SELECT `code`,`name` from purchase_group WHERE code IN
        <foreach collection="array" index="index" item="item" close=")" open="(" separator=",">
            #{item}
        </foreach>
    </select>
    <!--在插入数据时，检测是否插入的采购人是否有被停用，以及已不拥有采购角色-->
    <select id="selectInvalidUser" resultType="org.trc.domain.impower.AclUserAccreditInfo">
        SELECT
            is_valid AS isValid,
            user_id AS userId
        FROM
            user_accredit_info
        WHERE
            is_valid = '0'
        AND user_id IN
        <foreach collection="array" index="index" item="item" close=")" open="(" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="selectUserWithPurchaseNum" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            user_accredit_info u
        LEFT JOIN user_accredit_role_relation ur ON u.user_id = ur.user_id
        WHERE
            u.user_id IN
        <foreach collection="array" index="index" item="item" close=")" open="(" separator=",">
            #{item}
        </foreach>
        AND ur.role_id = '1'
    </select>

</mapper>