<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.purchase.IPurchaseOrderMapper">
    <!-- 根据用户的id，查询对应的供应商列表 -->
    <select id="findSuppliersByUserId" resultType="org.trc.domain.supplier.Supplier">
        SELECT id AS supplierId,supplier_code AS supplierCode,supplier_name AS supplierName from supplier WHERE supplier_code IN
        (
            SELECT supplier_code from supplier_channel_relation where channel_code =
                (
                    SELECT channel_code from user_accredit_info WHERE user_id=#{userId}
                )
        )
    </select>

</mapper>